@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Margarine|Raleway");

/*HTML and Body */

html,
body {
  height: 100%!important;
  margin: 0%!important;
  width: 100%!important;
}


/*Headings */

.main-heading {
  font-family: 'Margarine', cursive;
  color: #333333;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pot-section {
  font-family: 'Margarine', cursive;
  font-size: 15px;
  letter-spacing: 10px;
  color: #ffff1a;
}

#inner-title {
  font-size: 23px;
  font-weight: 300;
  line-height: 1;
}


.view {
  color: #0033cc;
  font-size: 1.5em;
}

.view:hover {
  color: #ff0000;
}


/* Outer and Reveal Card styles */

p,
div {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -2px;
  font-size: 15px;
}

.card .card-content .card-title i {
  font-size: 50px;
}


.inner-card-text {
  font-size: 20px;
  margin-left: -10px;
}


.inner-card-container {
  margin-top: 5rem;
}

.results {
  font-family: 'Margarine', cursive;
  font-size: 1.5em;
  color: #000;
}

.main-boxes {
  margin-left: 10px;
  margin-right: 10px;
}


/* Recipe Description and Icons*/

.recipe-description,
.recipe-ingredients,
.labels {
  font-family: 'Raleway', 'sans-serif';
  color: #333333;
  font-style: normal;
  font-size: 1.5em;
  letter-spacing: 1px;
}

input[type=text]:not(.browser-default) {
  letter-spacing: 2px;
}

.ingredients-section {
  font-family: 'Margarine', cursive;
  font-size: 2em;
  font-style: normal;
  letter-spacing: 1px;
}

.nut-icons {
  text-align: center;
  color: #333333;
}

.recipe-icons {
  font-size: 1.5em;
  padding: 2em;
  color: #333333;
}

.icons-container {
  margin-right: 10px;
  margin-left: -10px;
}

.inner-card-icon {
  margin-right: 10px;
}

/*Ingredients*/

.ingredients-section {
  padding: 0rem 2rem;
}

/*labels*/

label {
  color: #000;
}

/*Checkboxes*/

[type="checkbox"]:checked+span:not(.lever):before {
  border-bottom: 2px solid #f26226;
  border-right: 2px solid #f26226;
  ;
}


/*Cards*/

.card .card-title {
  font-size: 21px;
  font-weight: 300;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}

/*Pagination*/

.pagination {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  font-family: cursive;
  font-size: 1.2em;
  color: #f26226;

}

.pagination .active {
  background-color: #f26226;
}

.recipe-paragraph,
.main-cards .div {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #f26226;
  -webkit-box-shadow: 0 1px 0 0 #f26226;
  box-shadow: 0 1px 0 0 #f26226;
}

input[type=text]:not(.browser-default) {
  font-family: 'Josefin Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
}

a {
  color: #0000ff;
}

a:hover {
  color: #ff0000;

}

.register {

  color: #ff0000;

}

.register:hover {
  color: #0000ff;
}

/* Single Recipe view styles */

.page-container {
  width: 90%;
  margin: 0;
  margin-top: 2rem;
}


.recipe-description {
  padding: 2rem;
  font-size: 22px;

}

.recipe-ingredients {
  font-size: 22px;
  padding: 0rem 2rem;
}

.ingredients-section {
  padding: 0rem 2rem;
  text-transform: uppercase;
}

.labels {
  font-size: 21px;

}

.input-field>label {
  font-size: 15px;
  letter-spacing: 1px;
  color: orange;
}

/*Alert Box*/

#alert_box {
  margin-bottom: 0;
  width: 100%;
  padding-top: 5px;
  font-size: 30px;
  height:100%;
}

.alert {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.alert-bg {
  margin-top:15px;
  background-color: #2e62af;
 
}

.card-alert .card-content-alert {}

/*Search Box*/

.tp-search {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  width: 100%;
  border-bottom: solid 1px #e4e6eb;
  height: 15vh;
  color: #000;
}

/*Hover*/

.txt-hover {
  text-decoration: none;
  color: #0f346c;
}


/*Select*/

.select-wrapper input.select-dropdown {
  color: black;

}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #f26226;

}

/*Register Page styles*/

.outer-container {
  min-height: 100%;
  height: 100%;
  overflow-y: hidden;
  justify-content: center;
  margin: 0;
  display: flex;
}

.middle-container {
  display: flex;
}

.inner-container {
  margin: auto;
  min-width: 500px;
}

.close-icon {
  position: fixed;
  top: 0.3em;
  right: 0.5em;
  font-size: 3.5rem;
  color: #fff;
}


.inner-close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #f26226;
}

.inner-close-icon:hover {
  color: #2e62af;

}

.bg-img {
  background-color: rgba(39, 55, 73, 0.98);
  color: #fff;
  overflow: hidden;
  min-height: 100vh;
  padding-bottom: 0px;
}


.title {
  font-family: 'Margarine', cursive;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  text-transform: uppercase;
  font-size: 25px;
}

/*Buttons */

.my-btn {
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: content-box;
  padding: 0px 10px 10px;
  display: inline-block;
  text-decoration: none;
  background-color: #f26226;
  color: #000;
  font-size: 30px;
  outline: none;
  font-family: 'Margarine', cursive;
  margin-top: 34px;

}

.source-btn {
  padding: 10px 10px 10px;
}

.my-btn {
  text-align: center;
}

.section {
  text-align: center;
}


.btn-centre,
.btn-style {
  font-family: 'Margarine', cursive;
  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}

.btn-style {
  background-color: #f26226;
}


.btn-style:hover {
  background-color: #2e62af;
  color: #fff
}


.search-btn {
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: content-box;
  padding: 0 20px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 2px solid;
  font-size: 20px;
  border-color: #f26226;
  outline: none;
  background-color: transparent;
  font-family: 'Margarine', cursive;
}

.search-btn:hover {
  color: #fff;
  background-color: #2e62af;
}

.nav-btn {
  background-color: transparent;
  font-family: 'Margarine', cursive;
  font-size: 15px;
}

.nav-btn:hover {
  background-color: #d3d3d3;
}

.input-field .prefix.active,
.input-field.col .prefix~label {
  color: #f26226;
}

#password {
  color: #fff;
}

.my-btn {
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 47.88px;
  height: 47.88px;
  padding: 0 35px;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  font-weight: 500;
  color: #fff;
  background-color: #f26226;
  outline: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 10px;

}

.submit-button {
  text-align: center;
}

.my-btn:hover {
  background-color: rgba(46, 98, 175, 0.9);
  color: #fff
}

.filter-btn {
  background-color: #f26226;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #000;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Margarine', cursive;
}

.filter-btn:hover {
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #2e62af;
  color: #fff;
  font-family: 'Margarine', cursive;
}

.filter-btn:hover:after {
  background-color: #2e62af;
}

#mytop {
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 80;
  font-size: 18px;
  background-color: #f26226;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-family: 'Margarine', cursive;
  opacity: 0.5;
}

#mytop:hover {
  background-color: #2e62af;
  color: #fff;
}

/*Footer Styles*/

.ft-me {
  font-size: 25px;
  color: #2e62af;
  font-family: 'Margarine', cursive;
  text-align: center;
  margin: 0;
  padding-top: 0.5em;
}

.ft-user {
  font-size: 25px;
  color: #000;
  font-family: 'Margarine', cursive;
  margin: 0;
  text-align: center;
}

.site-footer {

  width: 100%;
  color: #2e62af;
  background-color: #d9d9d9;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -110px;
  overflow: hidden;
}

.site-footer,
.push {
  height: 107px;
}


/*Navigation Bar*/

.nav {
  color: #6a6d75;
  background-color: #ffffff;
  width: 100%;
}

.nav .brand-logo {
  position: absolute;
  color: #6a6d75;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
}

.nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: #6a6d75;
  display: block;
  padding: 0 15px;
  cursor: pointer;
}

nav i,
nav [class^="mdi-"],
nav [class*="mdi-"],
nav i.material-icons {
  display: inherit;
  font-size: 30px;
  padding: 0px 5px 0px 5px;
  color: #2e62af;
}

.material-icons {
  text-align: center;
}

nav ul a:hover {
  background-color: rgba(46, 98, 175, 0.9);
  color: #fff;

}

.no-hvr {
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 47.88px;
  height: 47.88px;
  padding: 0 35px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: #000;
  background-color: #f26226;
  outline: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Margarine', cursive;

}

.nav-wrapper {
  background-color: #d9d9d9;
}

.v-align {
  display: -webkit-box;
  display: -webkit-inline-flex;
  display: -ms-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.btn-space {
  margin: 0px 20px;
}

/*Logo*/

.logo {
  font-size: 30px;
  color: #2e62af;
  font-family: 'Margarine', cursive;
}

.sign-up {
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 47.88px;
  height: 47.88px;
  padding: 0 35px;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  font-weight: 500;
  color: #000;
  background-color: #f26226;
  outline: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Margarine', cursive;
}


input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #f26226;
  -webkit-box-shadow: 0 1px 0 0 #f26226;
  box-shadow: 0 1px 0 0 #f26226;

}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: #f26226;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solod #f26226;
}

::placeholder {
  color: rgb(128, 128, 128);
}

/*Add recipes styles*/

.add-recipe {
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 47.88px;
  height: 47.88px;
  padding: 0 20px;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  font-weight: 500;
  color: #000;
  background-color: #f26226;
  outline: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Margarine', cursive;
}

textarea.materialize-textarea {
  color: #fff;
}


.my-recipes {
  border-radius: 2px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: content-box;
  font-size: 14px;
  line-height: 47.88px;
  height: 47.88px;
  padding: 0 20px;
  display: inline-block;
  text-decoration: none;
  border: 0px;
  font-weight: 500;
  color: #000;
  background-color: #f26226;
  outline: none;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: 'Margarine', cursive;

}

/* Filter Serach */

.input-field.col .prefix~option,
.input-field.col .prefix~.validate~option {
  font-size: 18px;
}

.collapsible-header {
  font-size: 20px;
}

.collapsible-body {
  font-size: 18px;
}

a {
  color: blue;
}

/* Database Query Search Box*/

#db_query {
  color: #000;
}


/*Error Handling*/

.error-container {
  display: flex;
  height: 100vh;
  align-items: center;
  overflow: hidden
}

.error-sec-title {
  text-align: center;
  color: #2e62af;
}

.error-text {
  text-align: center;
  color: black;
  font-size: 1.5em;
}

.error-title {
  text-align: center;
  color: #f26226;
}

/*Profile */

.profile-container {
  width: 250px;
  margin: auto;
}

.img-responsive img {
  width: 100%;
}

.heading {
  text-align: left;
  color: #2e62af;
  padding: 20px 0px 10px 0px
}

.profile-img {
  margin-top: 2em;
}

.text {
  font-size: 20px;
}


/*Media Queries*/

/* Home page media queries */

@media only screen and (max-width: 992px) {
  nav .sidenav-trigger {
    height: 56px;
    position: absolute;
    right: 10px;
  }
}


/*Button media queries*/

@media(min-width:320px) and (max-width:790px) {
  .my-btn {
    float: none;
  }
}

/* Navbar media queries */

@media only screen and (min-width: 601px) {
  nav,
  nav .nav-wrapper i,
  nav a.sidenav-trigger,
  nav a.sidenav-trigger i {
    height: 64px;
    line-height: 64px;
  }
}

/* Login/register Media Queries */

@media only screen and (max-width: 768px) {
  .title {
    font-size: 25px;
  }

  .input-field {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
  }


  .btn i {
    font-size: 1.4rem;
  }

  .my-btn {
    font-size: 20px;
    height: 50.88px;
    padding: 0 13px;
    font-weight: 400;
  }


}


@media (min-width: 600px) {
  .inner-container {
    min-width: 90%;
    margin-top: 50%;
  }

  .input-field {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 20px;
  }
  input[type=text]:not(.browser-default) {
    font-size: 20px;
  }
  .btn i {
    font-size: 1.4rem;
  }
  .my-btn {
    font-size: 20px;
    height: 50.88px;
    padding: 0 13px;
    font-weight: 400;

  }
}

@media only screen and (max-width: 600px) {
  .inner-container {
    min-width: 90%;
    margin-top: 50%;
  }

  .title {
    font-size: 40px;
  }

  .input-field {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 15px;
  }

  .cooking_time {
    padding-top: 10px;
  }
  .btn i {
    font-size: 0.8rem;
  }

  .my-btn {
    font-size: 15px;
    height: 39.88px;
    padding: 0 9px;
    font-weight: 500;
    line-height: 24.88px;
  }

  .close-icon {
    top: 0.2em;
    right: 0.3em;
    font-size: 3rem;
  }

  .middle-container {
    width: 100%;
  }

  .input-field>option {
    font-size: 15px;
    letter-spacing: 0.5px;

  }

}

/* Container Media Queries */

@media(min-width:300px)and (max-width:780px) {
  .middle-container {
    width: 75%;
  }
}

/* labels media queries */

@media (min-width:1024px) and (max-width:1045px) {
  .labels-2 {
    margin-top: 62px;
  }
}

/*Logo Media Queries*/

@media (max-width:400px) {
  .logo {
    font-size: 1.5em;
  }

  .main-heading {
    font-size: 2em;
  }
}

/* Ingredients Media Queries */

@media (min-width:700px) and (max-width:800px) {
  #ingredients.materialize-textarea {
    font-size: 13px;

  }

}

@media (min-width:300px) and (max-width:500px) {
  #ingredients.materialize-textarea,
  #description.materialize-textarea,
  #health_labels.materialize-textarea,
  #diet_labels,
  #source,
  #recipe_name,
  #cooking_time,
  #serving_size,
  #recipe_image {
    font-size: 11px;
    line-height: 14px;

  }

}

@media (min-width:700px) and (max-width:750px) {
  .diet-heading {
    margin-top: 62px;
  }
}


@media(max-width:400px) {
  #cooking_time,
  #serving_size,
  #calories {
    padding-top: 10px;
    font-size: 11px;
  }
}

@media (max-width:500px) {
  .input-field>label {
    font-size: 15px;
    letter-spacing: 0px;

  }
}

/*Buttons/Logo Media Queries*/

@media(max-width:900px) {

  .search-btn,
  .source-btn {
    border-radius: 2px;
  }
  .labels {
    font-size: 1.2rem;
  }
}

.clear {
  font-size: 1.2rem;
  letter-spacing: 2.5px;
}


@media(max-width:600px) {
  .logo {
    font-size: 20px;
  }

  .input-field.col .prefix~option,
  .input-field.col .prefix~.validate~option {
    font-size: 18px;
  }

  .collapsible-header {
    font-size: 20px;
  }

  .collapsible-body {
    font-size: 18px;
  }
}


@media(max-width:1050px) {
  .inner-card-text {
    font-size: 15px;
    margin-left: -10px;
  }
}

@media (max-width:500px) {
  .input-field.col option {
    left: .50rem;
  }
}

@media (min-width:768px) {
  input[type=text]:not(.browser-default) {
    font-size: 15px;
  }

  .inner-close-icon {
    right: 1px;
  }
}

@media (min-width:780px) {

  .inner-card-icon {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width:500px) {
  .inner-card-icon {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (max-width:768px) {
  #mytop {
    bottom: 400px;
  }
}

@media only screen and (min-width:600px) and (max-width:1024px) {
  .tp-search: {
    height: 10vh;
  }
}

@media only screen and (max-width:700px) {
  .tp-search {
    height: 29vh;
  }

}