{% extends 'base.html' %} {%block content %}
<main class="bg-img">
    <a href=" {{ url_for('index') }}"><i class="material-icons close-icon">highlight_off</i></a>
    <div class="container">
        <h2 class="title"><strong>Add Recipe</strong></h2>

        <!--Add Recipe Form-->
        <form method="POST" action="" class="form-width">
            <div class="row">
                <div class="container-fluid">
                    <div class="input-field col s12">
                        {{ form.hidden_tag() }} {{ form.recipe_name(placeholder="Chicken & chorizo jambalaya") }}
                        <label for="recipe_name">Recipe Name</label>
                    </div>
                    <div class="input-field col s12">
                        {{ form.hidden_tag() }} {{ form.ingredients(class_="materialize-textarea", placeholder="Example : 1 tbsp olive oil, 2 oakra pods, chopped, 1 onion, diced, 1 red pepper thinly sliced, 2 garlic cloves") }}
                        <label for="ingredients">Ingredients</label>
                    </div>
                    <div class="input-field col s12">
                        {{ form.hidden_tag() }} {{ form.description(class_="materialize-textarea", placeholder=" Example: A jasmin-inspired rice pot recipe with and tomatoes") }}
                        <label for="description">Description</label>
                    </div>
                    <div class="input-field col s4">
                        {{ form.hidden_tag() }} {{ form.cooking_time(placeholder="55") }}
                        <label for="cooking_time">Cooking Time</label>
                    </div>
                    <div class="input-field col s4">
                        {{ form.hidden_tag() }} {{ form.serving_size(placeholder="4") }}
                        <label for="serving_size">Serving Size</label>
                    </div>
                    <div class="input-field col s4">
                        {{ form.hidden_tag() }} {{ form.calories(placeholder="445") }}
                        <label for="calories">Add Calories</label>
                    </div>
                    <div class="input-field col s6">
                        {{ form.hidden_tag() }} {{ form.health_labels(class_="materialize-textarea", placeholder="Chicken, Meat") }}
                        <label for="health_labels">Add Health Labels</label>
                    </div>
                    <div class="input-field col s6">
                        {{ form.hidden_tag() }} {{ form.diet_labels(class_="materialize-textarea", placeholder="High-Protein") }}
                        <label for="diet_labels">Add Diet Labels</label>
                    </div>
                    <div class="input-field col s12">
                        {{ form.hidden_tag() }} {{ form.recipe_image(required=true, placeholder="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/user-collections/my-colelction-image/2015/12/recipe-image-legacy-id--1274503_8.jpg?itok=y2r-R0BV") }}
                        <label for="recipe_image">Recipe Image Address Link</label>
                    </div>
                    <div class="input-field col s12">
                        {{ form.hidden_tag() }} {{ form.source(placeholder="https://www.bbcgoodfood.com/recipes/1167651/chicken-and-chorizo-jambalaya") }}
                        <label for="source">Source URL</label>
                    </div>
                    <button class="btn waves-effect my-btn section hoverable" type="submit" name="action">Submit<i class="material-icons right">send</i></button>
                </div>
            </div>
        </form>
    </div>
</main>


<!--End of add recipe form-->
{% endblock %}